/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/03/2019, 02:26:17 PM
    Author     : Diego
*/
.jqx-layout-group-auto-hide-content-vertical
{
    width: 200px;
}

/*@media only screen and (max-width: 1024px) {
    #Tmain {
        width:600px !important;
    }
}*/
.classtable tbody {
    display:block;
    height:700px;
    overflow:auto;
}
.classtable thead, .classtable tbody tr {
    display:table;
    /*width:100%;*/
    table-layout:fixed;
}
.classtable thead {
    /*width: calc( 100% - 1em )*/
}

.classtable td{
    /*width: 100%;*/
}


.classtable tr td:nth-child(1)
{
     text-align: center !important;   
}

.classtable tr td:nth-child(2)
{
     text-align: center !important;   
}
@media only screen and (min-width: 1050px) {
#calendar
{
    width: 350px !important;
    height:250px !important;
}
}